.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3000;

  .header-inner {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $color-separation;
  }

  .header-left {
    width: $navbar-with;
    border-right: 1px solid $color-separation;
  }

  .header-right {
    display: flex;
    justify-content: space-between;
    width: calc(100% - #{$navbar-with});
  }
}
