.main {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100vh;
  padding-top: 25px;
}

.main-navigation {
  position: relative;
  flex-shrink: 0;
  width: 300px;
  min-height: 1px;
}

.main-window {
  position: relative;
  flex-grow: 1;
  width: 100%;
  height: 100%;
}

.toolbar {
  position: relative;
  flex: 0 0 100%;
  max-width: 100%;
  width: 100%;
  height: $toolbar-base-height;
  padding: 10px 0;

  & > * {
      display: inline-block;
  }
}