
.node-status-0 .label {
  color: white;
  background-color: green;
}
.node-status-1 .label {
  color: white;
  background-color: blue;
}

.node-status-2 .label {
  color: white;
  background-color: red;
}