.node-item {
  position: relative;
  padding: 0 5px;

  .node-item-inner {
    position: relative;
  }

  .name,
  .edit {
    width: 100%;
    padding: 3px 40px 3px 10px;
    line-height: 1.6;
    background: none;
    border: none;
    text-align: left;
  }

  .name {
    i {
      margin-right: 5px;
    }
  }

  .menu {
    position: absolute;
    top: 0;
    right: 0;
  }

  &:hover {
    background-color: $color-node-item-hover;
  }
}

.node-item-menu {
  display: inline-block;
  position: relative;
  z-index: 2;

  .nim-toggle {
    background: rgba(0, 0, 0, 0);
    border: none;
  }
}

.node-item-menu-box {
  position: absolute;
  width: 200px;
  background-color: #fff;
  z-index: 2;
  border-radius: 3px;
  padding: 5px 0;
  box-shadow: $basic-shadow;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      button {
        position: relative;
        width: 100%;
        padding: 5px 15px 5px 30px;
        background: none;
        border: none;
        text-align: left;

        &:hover {
          background: $color-node-item-hover;
        }

        // i {
        //   position: absolute;
        //   top: 6px;
        //   left: 6px;
        // }
      }
    }
  }
}

.component-icon-status {
  position: absolute;
  top: 0;
  left: 0;
  font-size: $status-icon-size;
}

.node-status-0 {
  .component-icon-status {
    color: $color-status-ok;
  }
}
.node-status-1 {
  .component-icon-status {
    color: $color-status-waiting;
  }
}

.node-status-2 {
  .component-icon-status {
    color: $color-status-conflict;
  }
}

.node-status-3 {
  .component-icon-status {
    color: $color-status-error;
  }
}
